<li><a target="_blank" href="https://github.com/wangzw/"><i class="fa fa-github"></i>GitHub</a></li>
<li><a target="_blank" href="https://cn.linkedin.com/in/wangzw/"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
<li><a target="_blank" href="mailto:wangzw@wangzw.org"><i class="fa fa-envelope"></i>Contact</a></li>
<li><img src="/content/images/wechat.jpg" alt="wechar" width="60%" height="60%" /></li>
